# Core
pyyaml
tqdm

# Dataset management
beir

# NLP
nltk

# Information retrieval
rank_bm25

# Embeddings & deep learning
sentence-transformers
torch
FlagEmbedding

# Scientific computing
numpy
scikit-learn
xgboost
lightgbm
joblib>=1.1

# Visualization
matplotlib
shap